<section class='article-hero-section'>
  <img 
  class="hero_image" 
  src="{{ article.image | img_url }}" 
  alt="{{ article.title }}" 
/>

<h2 class='article-hero-section-text excerpt'>{{article.excerpt}}</h2>
  <div class="scroll--down-indicator content">
    <div class="arrow-banner-position">
      <img src="https://cdn.shopify.com/s/files/1/0655/4556/8425/files/arrow-down.png?v=1751003702">
    </div>
  </div>
</section>
